# Python bytecode
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/
ENV/
env.bak/

# Django stuff
*.sqlite3
db.sqlite3
staticfiles/
*.log

# Secrets
.env

# Editor config
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db
